::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* really cool animation thing */

@keyframes marbled {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 50px;
    padding: 1em;
    background: linear-gradient(45deg, #333, #555, #777, #999, #BBB);
    background-size: 200% 200%;
    animation: marbled 10s infinite alternate;
}

.menu {
    font-family: serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: white; /* Change the color to white or any desired color */
}

.menu li:hover {
    background: #222;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.dropdown {
    background: linear-gradient(45deg, #333, #555, #777, #999, #BBB);
    background-size: 200% 200%;
    animation: marbled 10s infinite alternate;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    z-index: 1;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #999999;
}

.services:hover .dropdown {
    top: 50px;
    display: block;
}

input[type=checkbox] {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.logo {
    font-family: Garamond, serif;
    font-size: 24px;
    font-weight: bold;
}

.logo-link {
    text-decoration: none; /* Remove text underline */
    color: inherit; /* Inherit the text color (you can specify a color here) */
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    position: relative;
}

.menu-bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

@media (max-width: 768px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 30px;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        background: linear-gradient(45deg, #333, #555, #777, #999, #BBB);
        background-size: 200% 200%;
        animation: marbled 10s infinite alternate;
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        background: linear-gradient(45deg, #333, #555, #777, #999, #BBB);
        background-size: 200% 200%;
        animation: marbled 10s infinite alternate;
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

.welcome-heading h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
}
.welcome-heading h1 span {
    margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px;
    letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.welcome-heading h1 span:after,.welcome-heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color:#f8f8f8;
}

.welcome-heading h2 {
    text-align: center;
    font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.welcome-heading h2:after,.welcome-heading h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
    background-color:#f8f8f8;
}


.feature-box {
    font-family: serif;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.feature-box h3 {
    font-size: 24px;
    color:#222;
    margin-bottom: 10px;
}

.quote-box {
    font-family: serif;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.quote-box blockquote {
    font-size: 18px;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
}

.quote-box p {
    font-size: 16px;
    color: #666;
}

.benefits-box {
    font-family: serif;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.benefits-box h3 {
    font-size: 24px;
    color:#222;
    margin-bottom: 10px;
}

.benefits-box ul {
    list-style: none;
    padding: 0;
}

.benefits-box li {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.contact-box {
    font-family: serif;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.contact-box h3 {
    font-size: 24px;
    color:#222;
    margin-bottom: 10px;
}

.contact-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.contact-box .btn {
    display: inline-block;
    background-color: midnightblue;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-box .btn:hover {
    background-color: #4c9e9e;
}

.about-content h3 {
    font-size: 24px;
    color:#222;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.story,
.mission {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    margin: 20px;
    width: 80%;
}

.heading {
    font-weight: bold;
}

.image-grid {
    display: grid;
    gap: 10px;
    margin: 10px;
    position: relative;
    z-index: 0;
    transition: box-shadow 0.3s;
}

.image-container {
    position: relative;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid transparent; /* Add a transparent border by default */
    border-radius: 10px; /* Adjust the value to control the amount of rounding */
}


.image-grid img:hover {
    border-color: midnightblue;; /* Change the border color on hover */
    border-radius: 5px; /* Add rounded corners if desired */
}

.image-container button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2% 4%;
    border-radius: 5px;
}

.image-container button:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.image-grid button {
    font-family: serif;
}

.price-overlay {
    font-family: serif;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2% 4%;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .image-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for larger screens */
    }
}

@media (max-width: 1199px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium-sized screens */
    }
}

@media (max-width: 992px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for the smallest screens */
    }
}

footer {
    background: linear-gradient(45deg, #333, #555, #777, #999, #BBB);
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.fa:hover {
    opacity: 0.9;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa {
    padding: 25px;
    font-size: 40px;
    /*width: 60px;*/
    text-decoration: none;
    /*margin: 5px 5px;*/
}

.cover {
    margin: 40px;
    position: relative;
    z-index: 0;
    transition: box-shadow 0.3s;
}

.cover img {
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .cover {
        width: 80%;
    }

    .cover img {
        width: 100%; /* Make the image within the cover div 100% width to fit the smaller cover */
    }
}
